<!-- HEADER -->
<header class="header">
  <div class="container header__container">
    <!-- LOGO -->
    <include src="./partials/logo.html"></include>
    <!-- MENU NAVIGATION -->
    <include src="./partials/navigation.html"></include>
    <!-- COLOR THEME SWITCHER -->
    <include src="./partials/color-theme-switcher.html"></include>
    <!-- MENU TOGGLE -->
    <include src="./partials/menu-toggle.html"></include>
    <!-- SING UP BUTTON, USER BAR AND LOG OUT BUTTON -->
    <include src="./partials/sign-up-log-out.html"></include>
  </div>
</header>
