<a href="#" class="link logo">
    <!-- Logo for light theme -->
    <svg class="logo__icon logo__icon--icon" width="22" height="22">
      <use href="./images/icons.svg#icon-logo-light"></use>
    </svg>
    <svg class="logo__icon logo__icon--text" width="53" height="17">
      <use href="./images/icons.svg#icon-book-light"></use>
    </svg>
    <!-- Logo for dark theme -->
    <svg
      class="logo__icon logo__icon--icon visually-hidden"
      width="22"
      height="22"
    >
      <use href="./images/icons.svg#icon-logo-dark"></use>
    </svg>
    <svg
      class="logo__icon logo__icon--text visually-hidden"
      width="53"
      height="17"
    >
      <use href="./images/icons.svg#icon-book-dark"></use>
    </svg>
  </a>