/* Logo */
.logo {
  display: flex;
  align-items: center;  
  margin-right: auto;

  @include tablet {
    // margin-right: 32px;
  }

  @include desktop {
    // margin-right: 99px;
  }

  &__icon:not(:last-child) {
    margin-right: 8px;
  } 
}
